<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/font-awesome.css">
</head>
<body>
    <header>
        <div class="row">
            <div class="col-md-3">
                <a href="" class="btn-site"></a>
            </div>
            <div class="col-md-6">
                <div class="main-menu">
                    <ul>
                        <li><a href="">خانه</a></li>
                        <li><a href="">وبلاگ</a>
                            <ul>
                                <li><a href="">خانه</a></li>
                                <li><a href="">وبلاگ</a>
                                    <ul>
                                        <li><a href="">خانه</a></li>
                                        <li><a href="">وبلاگ</a>
                                            <ul>
                                                <li><a href="">خانه</a></li>
                                                <li><a href="">وبلاگ</a></li>
                                                <li><a href="">مقالات</a>
                                                    <ul>
                                                        <li><a href="">خانه</a></li>
                                                        <li><a href="">وبلاگ</a></li>
                                                        <li><a href="">مقالات</a></li>
                                                        <li><a href="">درباره ما</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="">درباره ما</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">مقالات</a></li>
                                        <li><a href="">درباره ما</a></li>
                                    </ul>
                                </li>
                                <li><a href="">مقالات</a>
                                    <ul>
                                        <li><a href="">خانه</a></li>
                                        <li><a href="">وبلاگ</a></li>
                                        <li><a href="">مقالات</a></li>
                                        <li><a href="">درباره ما</a></li>
                                    </ul>
                                </li>
                                <li><a href="">درباره ما</a></li>
                            </ul>
                        </li>
                        <li><a href="">مقالات</a></li>
                        <li><a href="">درباره ما</a>
                            <ul>
                                <li><a href="">خانه</a></li>
                                <li><a href="">وبلاگ</a></li>
                                <li><a href="">مقالات</a></li>
                                <li><a href="">درباره ما</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer></footer>
</body>
</html>